<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <add_to_cart_notification>
                <enabled>1</enabled>
                <disable_default_notification>1</disable_default_notification>
                <notification_lifetime>2000</notification_lifetime>
            </add_to_cart_notification>
        </checkout>
    </default>
</config>
