@modal-add-to-cart-mobile-position: "bottom"; // Any other option will work as top
@modal-add-to-cart-offset: 1em;
@modal-add-to-cart-max-width: 480px;
@modal-add-to-cart-padding: (@modal-popup__padding / 2);
@modal-add-to-cart-bg: @modal__background-color;
@modal-add-to-cart-color: inherit;
@modal-add-to-cart-box-shadow: @modal__box-shadow;

& when (@media-common = true) {
    .modal-added-to-cart {
        box-sizing: border-box;
        z-index: 9;
        position: fixed;
        top: @modal-add-to-cart-offset;
        right: 0;
        bottom: auto;
        left: 0;
        max-width: @modal-add-to-cart-max-width;
        width: calc(~"100% -" (@modal-add-to-cart-offset * 2));
        margin: 0 auto;
        padding: @modal-add-to-cart-padding;
        background-color: @modal-add-to-cart-bg;
        color: @modal-add-to-cart-color;
        box-shadow: @modal-add-to-cart-box-shadow;

        .modal-content {
            display: flex;
            align-items: flex-start;
            margin-right: @modal-action-close__font-size;
        }

        .product-image {
            flex: 0 0 auto;
            width: 50px;
            margin-right: 1em;
        }
    }

    .message.message-add-to-cart {
        padding: @message__padding;

        > :first-child::before {
            content: none;
        }
    }
}

/* prettier-ignore */
& when (@modal-add-to-cart-mobile-position = "bottom") {
    .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
        .modal-add-to-cart {
            top: auto;
            bottom: @modal-add-to-cart-offset;
        }
    }
}
